@model FirstResponseApp.Areas.Ticket.Models.UserDto
@{
    ViewData["Title"] = "All User";
    Layout = "~/Views/Shared/_AdminLayoutDashboard.cshtml";
}



<script src="~/js/DataTable/Datatable.min.js"></script>
<link href="~/js/DataTable/Datatables.min.css" rel="stylesheet" />
<script src="~/js/DataTable/Materialize.min.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<script src="~/global_assets/js/core/libraries/bootstrap.bundle.min.js"></script>
<script src="~/js/TicketUser/AllUser.js"></script>


<input type="hidden" name="hdnWebsitePath" id="hdnWebsitePath" value="@ViewBag.WebsitePath">
<input type="hidden" name="hdnUserId" id="hdnUserId">
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4> <span class="font-weight-semibold">User Management</span></h4>
            <a href="Dumy/index" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <!-- Page header -->

</div>

<div class="content pt-2">
    <div class=" row">
        <div class="col-12 text-right">
            <a class="cke_button btn btn-primary" title="Add New User" href="@Url.Action("AddUser", "TicketUser")"><i class="icon-plus2 mr-1"></i>Add New User</a>
        </div>
    </div>
    <div class="row">

        <div class="card-body">
            <div class="form-row label-bold">
                <div class="col-2">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(x => x.OrganisationId)</label>
                        @Html.DropDownListFor(x => Model.OrganisationId, Model.OrganizationList.OrderBy(x => x.Text), "Select Organization", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(x => x.IsActive)</label>
                        @Html.DropDownListFor(x => Model.IsActive, Model.IsActiveList.OrderBy(x => x.Text), "Select Status", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>
                            @Html.DisplayNameFor(x => x.SearchDate)
                        </label>
                            @Html.TextBoxFor(x => x.SearchDate, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = "Select date", @readonly = true })
</div>

                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>
                            @Html.DisplayNameFor(x => x.Search)</label>
                            @Html.TextBoxFor(x => x.Search, new { @class = "form-control", @placeholder = "Search By Keyword" })
</div>
                </div>
                <div class="col-3">
                    <label>&nbsp;</label>
                    <button type="button" onclick="BindUserData();" class="btn btn-primary" title="Search" style="margin-top: 25px;"><i class="icon-search4"></i> Search</button>
                    <button type="button" onclick="ResetFilter();" class="btn bg-indigo-300" title="Reset" style="margin-top: 25px;"><i class="icon-rotate-cw3"></i>  Reset </button>

                </div>
            </div>
            <table id="TblUserRecord" class="table table-bordered table-striped dataTable no-footer">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Email Type</th>
                        <th>Organization</th>
                        <th>Status</th>
                        <th>Deactivated</th>
                        <th>Added On</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

            </table>
        </div>
    </div>

</div>


<div class="modal fade" id="ConfirmDeActivePopup">
    <input id="Id" name="Id" type="hidden">
    <input id="url" name="url" type="hidden" value="AllUser">
    <div class="modal-dialog modal-dialog-popup">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Deactivate
            </div>
            <div class="modal-body">
                Are you sure you want to Deactivate user?
            </div>
            <div class="modal-footer" style="">
                <button type="button" class="btn btn-danger" title="Cancel" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnConfirmDeactivate" onclick="SubmitDeactivatePopup();" title="Confirm" class="btn btn-primary"><i class="icon-checkmark mr-2"></i> Confirm</button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="ConfirmActivePopup">
    <input id="Id" name="Id" type="hidden">
    <input id="url" name="url" type="hidden" value="AllUser">
    <div class="modal-dialog  modal-dialog-popup">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Activate
            </div>
            <div class="modal-body">
                Are you sure you want to Activate user?
            </div>

            <div class="modal-footer" style="">
                <button type="button" class="btn btn-danger" title="Cancel" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnConfirmActivate" onclick="SubmitActivatePopup();" title="Confirm" class="btn btn-primary"><i class="icon-checkmark mr-2"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ConfirmRestPasswordPopup">
    <div class="modal-dialog modal-dialog-popup">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Reset Password
            </div>
            <div class="modal-body">
                Are you sure you want to update the password of this user account?
            </div>

            <div class="modal-footer" style="">
                <button type="button" class="btn btn-danger" title="Cancel" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnConfirmResetPassword" onclick="SubmitResetPopup();" title="Confirm" class="btn btn-primary"><i class="icon-checkmark mr-2"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divSuccessMessages">
    <div class="modal-dialog modal-dialog-popup">
        <div class="modal-content">
            <div class="modal-header">
                Success
            </div>
            <div class="modal-body">
                <p id="SuccessTextMessage">@ViewBag.Message</p>
            </div>

            <div class="modal-footer" style="">
                <button type="button" class="btn btn-danger" titlt="Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="divSuccessMessages">
    <div class="modal-dialog modal-dialog-popup">
        <div class="modal-content">
            <div class="modal-header">
                Success
            </div>
            <div class="modal-body">
                <p id="SuccessTextMessage"></p>
                <label id="divSuccessMessageText"></label>
                <p>@ViewBag.Message</p>
            </div>

            <div class="modal-footer" style="">
                <button type="button" class="btn btn-danger" titlt="Close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@


@if (ViewBag.Success != null)
{
    <script type="text/javascript">
        window.onload = function () {
            $('#divSuccessMessages').modal('show');
        
        };
    </script>
}
