@model FirstResponseApp.Helper.User
@{
    ViewData["Title"] = "AddNewUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>@*<i class="icon-arrow-left52 mr-2"></i>*@ <span class="font-weight-semibold">Add Users</span></h4>
                <a href="Dumy/index" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <div class="content">

        <div class="row col-12">
            <div class="col-6">
                <div class="form-group">
                    @Html.DisplayNameFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.DisplayNameFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                <div class="form-group">
                    @Html.DisplayNameFor(x => x.EmailId)
                    @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.DisplayNameFor(x => x.Organizetion)
                    @Html.DropDownListFor(x => Model.Organizetion, Model.OrganizetionList.OrderBy(x => x.Text), "--Select Organization  --", htmlAttributes: new { @class = "form-control mt-2  f-14" })
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-3">
                <div class="form-group">
                    @Html.DisplayNameFor(x => x.NotificationCondition)
                </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                    <label class="checkbox pull-left">
                        <input type="checkbox" id="IsActive" name="IsActive" value="true">
                        Active/Open (Receive notification when ticket has been posted)
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox pull-left">
                        <input type="checkbox" id="IsActive" name="IsActive" value="true">
                        Update (Receive notification when ticket has been update)
                    </label>
                </div>
                <div class="form-group">
                    <label class="checkbox pull-left">
                        <input type="checkbox" id="IsActive" name="IsActive" value="true">
                        Close (Receive notification when ticket has been closed)
                    </label>
                </div>
            </div>
            
            
        </div>
        <div class="row col-12">
            <div class="col-9"></div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary" title="Submit"><i class="icon-checkmark mr-2"></i> Create User</button>
            </div>
        </div>
    </div>
